<section class="faqs-sect bg-primary">
    <div class="container">
    <div class="row">
                 <div class="col-lg-12 text-center">
                <h1 class="section-heading">FAQs</h1>
                <hr class="primary">
                </div>
        
                 <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>Will SMRT work for multiple stores?</h4>
                <p class="text-muted noWidows2">Of course! If your dry cleaning business has multiple storefronts and/or multiple plants, we have you covered. Your stores will connect to your plant(s) and even your delivery routes. In fact, SMRT Systems is so efficient, you may even grow your small operation into a large one.</p>
                </div>
                 <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>Can I use my PC for the webapp instead of buying more terminals?</h4>
                <p class="text-muted noWidows2">The long and short of it is no. PCs work well for admin work, but certain applications won’t function well, if at all outside of one of the provided terminals. To get the optimal use out of SMRT software, you’ll want to use the hardware it was designed for.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>What do I need to install SMRT?</h4>
                <p class="text-muted noWidows2">A stable wifi connection, and a willingness to learn our system. What allows SMRT to work so efficiently is that it is cloud based, so each station instantly syncs data with the next. To test your wifi connection, use it when you sign into your web-based admin account before installation. The last thing either of us want is to send out an installation team, only to find we can’t connect the devices. What a headache that would be!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>Do I need SMRT at every station?</h4>
                <p class="text-muted noWidows2">To get the full benefits of SMRT, yes. If you simply want the POS and the delivery, that is an option for you. However, the efficiency of ClothesTracker and being able to manage lots will not be available to you.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>Will Automatic Assembly work with my old assembly rack?</h4>
                <p class="text-muted noWidows2">We are retro compatible with Assisted-Assembly or Metalprogetti Systems™</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>Why should I let my customers see Clothes Tracker™? </h4>
                <p class="text-muted noWidows2">Build a trusting relationship with your customers. Having an easy to use and attractive interface is invaluable in today's market.</p>
                </div> 
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4>What is Hardware and Software as a service</h4>
                <p class="text-muted noWidows2"> We provide the hardware and software you need to run your dry cleaner efficiently for an affordable monthly cost.  You get all the updates for free, so you’re always using the newest and the best.  The only time you’d ever have to pay extra is if you break a terminal.</p>
                </div> 
        </div>
    </div>
</section>    