<div class="headline-bg">
</div><!--//headline-bg-->         

<!-- ******Video Section****** --> 
<section class="features-video section section-on-bg">
    <div class="container text-center">          
        <h2 class="title">Take a quick tour to see how it works</h2>
        <div class="video-container">
            <iframe src="//player.vimeo.com/video/129588559?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><!--//video-container--> 
    </div><!--//container-->
</section><!--//feature-video-->

<!-- ******Features Section****** -->       
<section class="features-tabbed section">
    <div class="container">
        <h2 class="title text-center">SMRT Features</h2>
        <div class="row">
            <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs text-center" role="tablist">
                    <li class="active"><a href="#feature-1" role="tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i><br /><span class="hidden-sm hidden-xs">Automatic Assembly</span></a></li>
                    <li><a href="#feature-2" role="tab" data-toggle="tab"><i class="fa fa-tachometer"></i><br /><span class="hidden-sm hidden-xs">POS made simple</span></a></li>
                    <li><a href="#feature-3" role="tab" data-toggle="tab"><i class="fa fa-photo"></i><br /><span class="hidden-sm hidden-xs">Manage Workstations</span></a></li>
                    <li class="last"><a href="#feature-4" role="tab" data-toggle="tab"><i class="fa fa-users"></i><br /><span class="hidden-sm hidden-xs">Clothestracker™</span></a></li>
                </ul><!--//nav-tabs-->
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="feature-1">
                        <h3 class="title sr-only">Automatic Assembly</h3>                                    
                        <figure class="figure text-center">
                            <%= responsive_image "features/assemble2_web.png" %>
                            <figcaption class="figure-caption">(Screenshot source: Coral - App &amp; website startup kit)</figcaption>
                        </figure>
                        <div class="desc text-left">
                            <p>Cut your production time in half with automatic assembly.</p>
                            <p>Package inventory dynamically with less physical space using Auto-Assembly. Orders assemble and self-sort relative to your production capacity to prevent overflow. Our system is compatible with Assisted-Assembly or Metalprogetti Systems™.</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i>Don't waste time manually sorting.</li>
                                <li><i class="fa fa-star"></i>Be more accurate with cusomter-specific profiles.</l>
                                <li><i class="fa fa-star"></i>Rotates to your location- all you have to do is stand there and hang clothes!</li>
                                <li><i class="fa fa-star"></i>Prevent late orders.</li>
                            </ul>
                            
                            <p>SMRT assembly will maximize your time and minimize your effort.  </p>
                        </div><!--//desc-->
                    </div><!--//tab-pane-->
                    <div class="tab-pane" id="feature-2">
                        <h3 class="title sr-only">POS</h3>                                    
                        <figure class="figure text-center">
                            <%= responsive_image "features/POS_web.png" %>
                            <figcaption class="figure-caption">(Screenshot source: Coral - App &amp; website startup kit)</figcaption>
                        </figure>
                        <div class="desc text-left">
                            <p>Find customers instanly. Enable automatic invoices and billing to cut down mistakes made with cash.</p>
                            <p>Fees from credit card companies can pile up. We'll help you save on processing fees as soon as you join and provide complete transparency to what fees are collected for each transaction.
                             <a href="#">Integer fringilla</a> 
                            </p>
                            <blockquote>
                                <p>Viverra magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                            </blockquote>
                            
                        </div><!--//desc-->
                    </div><!--//tab-pane-->
                    <div class="tab-pane" id="feature-3">
                        <h3 class="title sr-only">Manage Workstations</h3>
                        <figure class="figure text-center">
                            <%= responsive_image "features/progress_web.png" %>
                            <figcaption class="figure-caption">(Screenshot source: Coral - App &amp; website startup kit)</figcaption>
                        </figure>
                        <div class="desc text-left">
                            <p>Review timeclocks, performance, and productivity using data reports. No more office politics and subjective management. View employee station activity throughout the day, adjust time intervals, or set by category of actions.</p>
                            
                            <p>Work with a daily to-do list and document progress with photos and voice notes. Track activities remotely and provide scheduling updates.</p>
                            
                          <!--   <div class="table-responsive">  
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SLATE</th>
                                            <th>Commodo metus</th>
                                            <th>Dapibus porta</th>
                                            <th>Sed porta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Android Phone</td>
                                            <td>Aliquam sit</td>
                                            <td>Sed porta leo</td>
                                            <td>Duis ut ornare dui</td>
                                        </tr>
                                        <tr>
                                            <td>Website</td>
                                            <td>Curabitur tempus</td>
                                            <td>Fusce vehicula</td>
                                            <td>Nasceturs</td>
                                        </tr>
                                        <tr>
                                            <td>Clothestracker™</td>
                                            <td>Cum sociis natoque</td>
                                            <td>Penatibus magnis</td>
                                            <td>Curabitur</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--//table-responsive--> -->
                        </div><!--//desc-->                                    
                    </div><!--//tab-pane-->
                    <div class="tab-pane" id="feature-4">
                        <h3 class="title sr-only">Customer Connection</h3>                                    
                        <figure class="figure text-center">
                            <%= responsive_image "features/clothestracker_web.png" %>
                            <figcaption class="figure-caption">(Screenshot source: Coral - App &amp; website startup kit)</figcaption>
                        </figure>
                        <div class="desc text-left">
                            <p>Live status updates. Find items anytime. Know where your items sits in the production workflow. Share this internally between employees and managers, and also with customers to improve communication.</p>
                            <p>Give your customers the power to check in on their orders through your website. </p>
                           <!--  <p class="box">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nulla at libero ultricies tempus. Duis porta justo quam, ut ultrices felis posuere sit amet. Sed imperdiet bibendum est, sit amet sagittis ante sagittis eu. Ut consequat volutpat sapien sed lobortis. Nullam laoreet vitae justo nec dignissim.
                            </p> -->
                        </div><!--//desc-->
                    </div><!--//tab-pane-->
                </div><!--//tab-content-->
            </div><!--//col-md-x-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-tabbed-->

<!-- ******Steps Section****** --> 
<section class="steps section">
    <div class="container">
        <h2 class="title text-center">3 Simple Steps to Get you started with Velocity</h2>
        <div class="row">
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">1</span><br /><span class="text">Contact</span></h3>
                 <p>Get in touch with us about getting SMRT for your business.</p>
             </div><!--//step-->
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">2</span><br /><span class="text">Coordinate</span></h3>
                 <p>Work with us to talk about your plan. Whether you have one or four, we want to give you the right equiment for your number of stores.</p>
             </div><!--//step-->
             <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                 <h3 class="title"><span class="number">3</span><br /><span class="text">Congratulations!</span></h3>
                 <p>We'll ship you your equipment, and installation package. You'll get SMRT in no time.</p>
             </div><!--//step-->
        </div><!--//row-->
        
        <div class="text-center"><a class="btn btn-cta btn-cta-primary" href="/signup">Get Started - It's Free</a></div>
        
    </div><!--//container-->        
</section><!--//steps-->