<div class="headline-bg pricing-headline-bg">
</div><!--//headline-bg-->

<!-- ******Pricing Section****** -->
<section class="pricing section section-on-bg">
    <div class="container">
        <h2 class="title text-center"><span class="highlight">$0</span>try it out!</h2>
        <p class="intro text-center">Our pricing is simple and will get your business started.</p>
         <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Starter</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">4,500</span><br /><span class="unit">limited time</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>1 store</li>
                                <li>class="disabled"><i class="fa fa-times"></i>Automatic assembly</li>
                                <li><i class="fa fa-check"></i>2 slates Free</li>
                                <li><i class="fa fa-check"></i>SMRT Software</li>
                                <li class="disabled"><i class="fa fa-times"></i>Multiple Stores</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="/signup">Start SMRT</a>

                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item--> 
                
                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Expand</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">4,500+</span><br /><span class="unit">limited time</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>1-2 stores</li>
                                <li><i class="fa fa-check"></i>Automatic assembly</li>
                                <li><i class="fa fa-check"></i>2 slates Free $100 per additional </li>
                                <li><i class="fa fa-check"></i>SMRT software</li>
                                <li><i class="fa fa-check"></i>Connect stores & delivery routes</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="/signup">Start SMRT</a>
                        </div><!--//content-->
                        <div class="ribbon">
                            <div class="text">Popular</div>
                        </div><!--//ribbon-->
                    </div><!--//item-inner-->
                </div><!--//item-->  
                
                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">Business</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">25</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>Multiple Stores</li>
                                <li><i class="fa fa-check"></i>100 GB storage</li>
                                <li><i class="fa fa-check"></i>Email priority support</li>
                                <li><i class="fa fa-check"></i>SMRT Website</li>
                                <li><i class="fa fa-check"></i>24/7 support</li>                                  
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="/signup">Start SMRT</a>
                            
                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->  
            </div><!--//items-wrapper-->                   
        </div><!--//row-->
    </div><!--//container-->
</section><!--//pricing-->

<!-- ******FAQ Section****** --> 
<section class="faq section has-bg-color">
    <div class="container">
        <h2 class="title text-center">Frequently Asked Questions</h2>
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>Can I get the Assembly without SMRT?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq1">
                        <div class="panel-body">
                            Well, you can get the rack but it won't work. We've designed a system that works simply and seamlessly. SMRT is a complete system, which means it needs to be integrated with every part of the operations process. From the time a customer brings in their cleaning, to the time it's returned, SMRT handles it for you. 
                        </div>
                    </div>
                </div><!--//panel-->
        
                
        
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>What is Clothestracker?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq3">
                        <div class="panel-body">
                      Clothestracker is a feature of SMRT that, as the name hints, tracks clothes. We use heatseal barcodes to create a profile for each piece of clothing. 

                    One scan and we know: 
                    <br>who it belongs to
                    <br>brand, size, and item type
                    <br>when it came in; how many times it's been washed
                    <br>the last station it was at
                    <br>any permanent stains and tears

                    Think of all the time you'll save when detailing returning orders, not having so sort by customer during washing or pressing. All you have to do is detail, wash, and let automatic assembly handle things for you. So easy!
                        </div>
                    </div>
                </div><!--//panel-->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>Why do I need SMRT card processing?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq2">
                        <div class="panel-body">
                           To bring you the best deal around, of course! We minimize fees charged by other processing software. This also allows customers to keep their cards on file and set up automatic payment. 
                        </div>
                    </div>
                </div><!--//panel-->
                
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>What hardware does SMRT run on?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq5">
                        <div class="panel-body">
                        SMRT is an android based web app. We use hp slate 21 - two of which are included free with your assembly rack. Motorolla moto g phones are used to run the delivery app for route drivers. You can also access all aspects of the system from a web browser, any where on any device. However, the browser doesn't run as effieciently as the app, so using this for tasks such as detailing and assembly is not reccomended. 
                        </div>
                    </div>
                </div><!--//panel-->
                
  
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I include Clothestracker in my website?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq4">
                        <div class="panel-body">
                            You had better! In addition to all your nifty hardware you can opt to have us include a website which features a customer interface. Customers can make their own profile to check in on their orders, schedule deliveries, and send messages to your cleaner.
                        </div>
                    </div>
                </div><!--//panel--> 


                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>How many slate terminals will I need in my store?</a></h4>
                    </div>
        
                    <div class="panel-collapse collapse" id="faq6">
                        <div class="panel-body">
                            Ten is a good starting point for a small to mid size operation. Two are included free with your assembly rack.
                            We reccomend one per work station: 
                            <br>POS
                            <br>Detailing
                            <br>Spotting
                            <br>Alterations
                            <br>Each press
                            <br>Assembly (won't work without one)


                        </div>
                    </div>
                </div><!--//panel-->
                
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>Where do I purchase delivery and storage devices?</a></h4>
                    </div>
        
                     <div class="panel-collapse collapse" id="faq7">
                        <div class="panel-body">
                           Amazon?
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--//panel
                
              <!--   <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                    </div> -->         
    <!--                 <div class="panel-collapse collapse" id="faq8">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--//panel-->  
            </div>
        </div><!--//row-->
        <div class="contact-lead text-center">
            <h4 class="title">Have more questions?</h4>
            <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
        </div>
    </div><!--//container-->        
</section><!--//faq-->

<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section">
    <div class="container">
       <h2 class="title">More than <span class="counting">300,000</span> users are using Velocity</h2>
       <p class="intro">What are you waiting for?</p>
       <p><a class="btn btn-cta btn-cta-primary" href="https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04" target="_blank">Get Velocity Now</a></p>
    </div><!--//container-->
</section><!--//cta-section-->